{% extends 'include/base.html' %}

{% block content %}
<style type="text/css">
textarea{ 
  width: 400px; 
  height:80px; 
}

p {
color:red;
}
#div{
    width: 85%;
    background: #FFFFFF;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin-top: 50px;
    padding: 10px 25px;
    font-family: "微软雅黑";
    font-size: 16px;
    padding-left: 50px;
    
}
.controls .btn-success{
    width: 100px;
    margin-top: 20px;
    background: #4388cd;
}
.input-xlarge{
    display: block;
    width: 200px;
    height: 25px;
    }
font{
    color: #000;
    font-size: 16px;
    font-family: '微软雅黑';
}
</style>
<div class="container" id="div">
<form class="form-horizontal" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <fieldset>
      <div id="legend" class="">
        <legend class="">文件上传</legend>
      </div>

    <div class="control-group">
          <label class="control-label">选择文件</label>

          <!-- File Upload -->
          <div class="controls">
            <input class="input-file" id="fileInput" type="file" name="file">
            <p class="help-block"><font>只允许上传txt、csv、xlsx、xls文件<br> <br>且文件上述不得超过40万行<br><br>文件编码必须为utf8格式</font></p>
          </div>
        </div>


          <!-- Textarea -->
          <label class="control-label">备注</label>
          <div class="controls">
            <div class="textarea">
                  <textarea type="" class="" name="extra_info" maxlength="300"> </textarea>
            </div>
          </div>
      <div class="control-group">

              <span><font color="red">{{ err|safe }}</font></span>
                <!-- Button -->
                <div class="controls">
                  <button type="submit" class="btn btn-success">提交</button>
                </div>
              </div>
        </div>

    </fieldset>
  </form>

</div>
{% endblock %}
